<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pillow.mohamedaliaddi.scaryy" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name="com.pillow.mohamedaliaddi.scaryy.TitleScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" >

        </activity>
        <activity
            android:name="com.pillow.mohamedaliaddi.scaryy.MenuScreen"
            android:label="Jumpscare game"
            android:largeHeap="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pillow.mohamedaliaddi.scaryy.GameScreen"
            android:label="@string/title_activity_game_screen"
            android:largeHeap="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name="com.pillow.mohamedaliaddi.scaryy.ScareScreen"
            android:label="@string/title_activity_scare_screen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name="com.pillow.mohamedaliaddi.scaryy.LoseScreen"
            android:label="@string/title_activity_lose_screen"
            android:largeHeap="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name="com.pillow.mohamedaliaddi.scaryy.Tutorial"
            android:label="@string/title_activity_tutorial"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity
            android:name="com.pillow.mohamedaliaddi.scaryy.LoserScreen"
            android:label="@string/title_activity_loser_screen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
    </application>

</manifest>
